:root{
	--primary: #999999;
	--primary-hover: #777777;
	--alt: #b3b3b3;
	--background: #e6e6e6;
	--shadow: 0 10px 8px -3px #666666;
	--border: 1px solid #222222;
	--text-color: #4d4d4d;
}

*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	font-family: monospace;
	color: var(--text-color);
}

body{
	display: grid;
	grid-template-columns: 1fr 6fr 1.33fr;
	grid-template-rows: min-content auto;
}

#sidenav{
	padding: 12px;
	grid-row: 1 / -1;
	gap: 24px;
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	z-index: 2;
	box-shadow: 0 0 10px -5px black;
}

#sidenav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: content;
	font-weight: bold;
	font-size: 18pt;
}

#sidenav a{
	color: var(--text-color);
	text-decoration: none;
}

#sidenav a:hover{
	text-decoration: underline;
}

#sidenav li + li{
	margin-top: 8px;
}

#header{
	grid-column: 2 / -1;
	background-color: var(--alt);
	box-shadow: 0 0 10px -5px #000000;
	z-index: 1;
	display: grid;
	grid-template: min-content auto / auto min-content;
}

#projects{
	display: flex;
	flex-direction: column;
	padding: 12px;
	background-color: var(--background);
	z-index: 0;
}

#projectContainer {
	flex: 1;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	gap: 20px;
}

.card{
	background-color: var(--alt);
	padding: 16px;
	box-shadow: var(--shadow);
}

#sidebar{
	padding: 12px;
	background-color: var(--background);
	z-index: 0;
	display: flex;
	flex-direction:column;
	justify-content: space-between
}

#announcements, #trending{
	flex: 1;
	display: flex;
	flex-direction: column;
}

#sidebar ul{
	padding: 0;
	list-style-type: none;
}

#sidebar li{
	padding: 12px;
}

#sidebar li+li{
	border-top: var(--border);
}

h2{
	margin-bottom: 1rem;
}

#searchBar{
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 1em;
}

#searchBar input{
	flex: 1;
	font-size: 1.5rem;
	border: var(--border);
	background-color: var(--background);
	color: var(--text-color);
	padding: 1px 1rem;
}

#userTools{
	box-sizing: border-box;
	padding: 1em;
	display: grid;
	align-items: center;
	width: 100%;
	justify-content: end;
}

#userName{
	grid-column: -1 / -2;
	font-weight: bold;
	font-size: 150%;
	width: max-content;
}

#appActions{
	box-sizing: border-box;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	gap: 1rem;
}

#appActions button{
	color: var(--text-color);
	background-color: var(--primary);
	padding: .5rem 1rem;
	font-weight: bold;
	font-size: 115%;
	border: none;
}

#appActions button:hover{
	background-color: var(--primary-hover);
}

#welcomeSplash{
	display: flex;
	align-items: center;
	padding: 1em;
}

#welcomeSplash span{
	font-size: 150%;
	font-weight: bold;
}

.projectActions{
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 8px;
	width: 100%;
	justify-content: end;
}

.projectActions li{
	border: var(--border);
	border-radius: 8px;
	background-color: var(--alt);
	padding: .5rem;
}

.projectActions li:hover{
	background-color: var(--background);
	user-select: none;
}

.project{
	display: grid;
	gap: 1rem;
	grid-template-rows: min-content auto min-content;
}
